body{
    font-family: "Montserrat", sans-serif;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1329px;
}
.header{
    width: 100%;
    height: 913px;
    background-color: black;
}
.header-box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 111px;
}
.header-text-top{
    width: 933px;
    font-size: 140px;
    line-height: 170.66px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-text-bottom{
    width: 580px;
    font-size: 36px;
    line-height: 43.88px;
    font-weight: 500;
    padding-top: 1px;
}
.header-img{
    display: flex;
    justify-content: center;
}
.header-banner{
    margin: 0 auto;
    width: 1299px;
    height: 743px;
    padding-top: 62px;
}
.raleway-font{
    font-family: "Raleway", sans-serif;
}
.about-box_background{
    width: 100%;
    height: 963px;
    background-color: #ffffff;
    position: relative;
}

.iphone-about{
    width: 765px;
    min-height: 166px;
    margin: 0 auto;
    margin-top: 245px;
}
.about-name{
    font-size: 64px;
    line-height: 75.14px;
    font-weight: 700;
    text-align: center;
}

.iphone-text{
    width: 967px;
    min-height: 210px;
    margin: 0 auto;
}
.i-text{
    font-size: 24px;
    line-height: 37.78px;
    font-weight: 500;
    text-align: center;
}
.choose-iphone-box{
    width: 241px;
    min-height: 36px;
    margin: 0 auto;
}
.choose-iphone{
    font-size: 20px;
    line-height: 31.48px;
    font-weight: 500;
    text-align: center;
}
.choose-iphone-box::after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 6px;
    margin-left: 106px;
    background-image: url("../resources/arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper-rotation{
    width: 100%;
    height: 567px;
    background-color: #1D1C1C;
    position: relative;
}
.iphone-rotation{
    margin: 0 auto;
    width: 1261px;
    height: 624.59px;
    background-image: url("../resources/rotation-iphone.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -96.41px;

}