body{
    font-family: "Montserrat", sans-serif;
}
.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1329px;
}
.background-header{
    width: 100%;
    height: 913px;
    background-color: black;
}
.header-text{
    width: 933px;
    font-size: 140px;
    line-height: 170.66px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}